:root {
    --animate-delay: 0.5s;
  }
#root {
    background-image: url("https://alpha-editions.github.io/commercial-implementations/the-spot-it-challenge/assets/main-bg.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.heebo {
    font-family: "Heebo", sans-serif;
}
.arrow {
    width: 100vw;
    height: 80px;
}
.gold-arrow {
    bottom: -10px;
}
.gradient-bg {
    background-image: url("https://alpha-editions.github.io/commercial-implementations/the-spot-it-challenge/assets/gradient-bg-m.webp");
    background-size: 100% auto;
}
.bracket-bg {
    background-image: url("https://alpha-editions.github.io/commercial-implementations/the-spot-it-challenge/assets/left-bracket.webp"), url("https://alpha-editions.github.io/commercial-implementations/the-spot-it-challenge/assets/right-bracket.webp");
    background-position: left center, right center;
    background-size: auto 100%, auto 100%;
    background-repeat: no-repeat, no-repeat;
}
.brush-bg {
    background-image: url("https://alpha-editions.github.io/commercial-implementations/the-spot-it-challenge/assets/brush.webp");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px black;
}
.thumbnail {
    width: 100%;
    max-width: 500px;
    height: auto;
}
.button-content {
    padding: 10px;
}
.text-bg {
    bottom: 10px;
    width: calc(100% - 50px);
    left: 25px;
}
.inverted {
    filter: invert(1);
}
:disabled .profile-image {
    filter: grayscale(1);
}
.profile-image {
    filter: grayscale(0);
}
.text-prompt {
    top: 65%;
    width: calc(100% - 50px);
    left: 25px;
}
.button-bg {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.fb-logo-sm {
    width: 200px;
}
.btn-close {
    width: 6em;
    padding: .25em 1.5rem .75rem .25rem;
    background-position: 85% center;
}
.thumbnail:disabled .text-bg, .thumbnail:disabled .text-prompt {
    opacity: 0;
}
.modal-video {
    height: calc(100vh - 68px + 1rem);
}
@media (min-width: 992px) {
    #root {
        height: 100vh;
        overflow: hidden;
    }
    .row {
        height: 100vh;
    }
    .gold-arrow {
        left: -10px;
        bottom: auto;
    }
    header {
        width: calc(700px - 3rem);
    }
    .arrow {
        width: 160px;
        height: 100vh;
    }
    .thumbnails .row {
        height: calc(100% / 2.5);
    }
    .thumbnail {
        width: auto;
        height: calc(100% / 2.5);
    }
    .thumbs-col {
        width: calc(100vw - 860px) !important;
    }
    .header-col {
        width: calc(860px - 3rem);
    }
    .thumbnails {
        height: calc(100vh - 62px);
    }
    .gradient-bg {
        background-image: url("https://alpha-editions.github.io/commercial-implementations/the-spot-it-challenge/assets/gradient-bg-d.webp");
        background-size: auto 100%;
    }
    .button-bg {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .text-bg {
        bottom: 10px;
        width: calc(100% - 17px);
        left: 10px;
    }
    .text-prompt {
        top: 63%;
        width: calc(100% - 17px);
        left: 10px;
    }
    .thumbnail {
        z-index: 1;
    }
    .thumbnail:disabled {
        z-index: 0;
    }
    .thumbnail .text-bg, .thumbnail .text-prompt {
        opacity: 0;
        transition: opacity .5s;
    }
    .thumbnail:hover .text-bg, .thumbnail:hover .text-prompt {
        opacity: 1;
        transition: opacity .5s;
    }
}